%% -*- erlang -*-
[
 {egear,
  [{device, "/dev/ttyACM0"},
   {screen, 0},
   {xbus, true},  %% also send events with xbus
   %% map items to colors
   {map,
    [{"00004", color, {255,0,255}},
     {"7%H", color, {255,0,0}},   %% rotary dial, x
     {"6Zs", color, {0,255,0}},   %% rotary dial, y
     {"6YL", color, {0,0,255}},   %% rotary dial, z
     {"9&<", color, {255,0,0}},
     {"7W9", color, {0,0,255}},
     {"6rl", color, {0,255,0}},   %% slider 1
     {"6q)", color, {255,0,0}},   %% slider 2
     {"6a*", color, {0,0,255}}    %% slider 3
    ]}
   ]},

 {pong,
  [{egear_padel1_device, "6rl"},
   {egear_padel2_device, "6q)"}
  ]}
].
